<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kairos</title>
    <script type="importmap">
      {
        "imports": {
          "vue": "https://cdn.jsdelivr.net/npm/vue@3.5.13/dist/vue.esm-browser.js",
          "vue-router": "https://cdn.jsdelivr.net/npm/vue-router@4.5.0/dist/vue-router.esm-browser.prod.js",
          "@graffiti-garden/implementation-local": "https://cdn.jsdelivr.net/npm/@graffiti-garden/implementation-local@0.6.4/dist/browser/index.js",
          "@graffiti-garden/implementation-remote": "https://cdn.jsdelivr.net/npm/@graffiti-garden/implementation-remote@0.6.2/dist/browser/index.js",
          "@graffiti-garden/wrapper-vue": "https://cdn.jsdelivr.net/npm/@graffiti-garden/wrapper-vue@0.7.2/dist/browser/plugin.mjs",
          "@graffiti-garden/wrapper-files": "https://cdn.jsdelivr.net/npm/@graffiti-garden/wrapper-files@0.0.1/dist/browser/index.js",
          "@graffiti-garden/wrapper-files/vue": "https://cdn.jsdelivr.net/npm/@graffiti-garden/wrapper-files@0.0.1/dist/vue/index.mjs"
        }
      }
    </script>
    <!-- <link rel="stylesheet" href="styles/landing.css" /> -->
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/index.css" />
    <link rel="stylesheet" href="styles/chat.css" />
    <link rel="stylesheet" href="styles/profile.css" />
    <link rel="stylesheet" href="styles/create-button.css" />
    <link rel="stylesheet" href="styles/popup.css" />
  </head>
  <body>
    <div id="app">
      <div v-if="$graffitiSession && $graffitiSession.value?.actor">
        <router-view name="header"></router-view>

        <main>
          <router-view name="main"></router-view>

          <create-event v-if="$route?.path.includes('/chat/')" :chatId="$route?.params.chatId"> </create-event>
          <create-button v-else></create-button>
        </main>

        <router-view name="footer"></router-view>
      </div>
      <div v-else id="landing">
        <h1>Welcome to Kairos</h1>
        <button @click="login()">Log In</button>
        <!-- {{$graffitiSession}} -->
      </div>
    </div>

    <script src="index.js" type="module"></script>
  </body>
</html>
