<graffiti-discover
  id="messageFrame"
  v-slot="{ objects: messageObjects, isInitialPolling }"
  :channels="[chatId]"
  :schema="{
                  properties: {
                      value: {
                          required: ['content', 'published'],
                          properties: {
                              content: { type: 'string' },
                              published: { type: 'number' }
                          }
                      }
                  }
              }"
>
  <div id="messageFrame" @scroll="updateScroll()">
    <p v-if="isInitialPolling">Loading...</p>
    <div v-for="(object, i) of messageObjects.sort((a, b) => b.value.published - a.value.published)" :key="object.url">
      <!-- NONEVENT -->
      <div v-if="object.value.object?.type !== 'Event'">
        <!-- Current Actor's Message -->
        <div class="ownMessage" v-if="object.actor===$graffitiSession.value.actor">
          <!-- editing message -->
          <div class="messageContainer editingMessage" v-if="object.url === messageToEdit">
            <div class="sender">
              <router-link :to="`/profile/${object.actor}`"> {{getProfileFromId(object.actor, "name")}} </router-link>
              <p></p>
            </div>
            <div class="messageRow">
              <div class="messageBody">
                <div class="messageContent">
                  <input type="text" v-model="editContent" />
                </div>
                <div class="messageTime">
                  <time-stamp type="message" :object="object"></time-stamp>
                </div>
              </div>
              <span class="controlButtons">
                <button @click="finishEdit(object)">Submit</button>
                <button @click="cancelEdit()">Cancel</button>
              </span>
            </div>
          </div>

          <!-- non-editing message -->
          <div v-else class="messageContainer">
            <div class="sender">
              <router-link :to="`/profile/${object.actor}`"> {{getProfileFromId(object.actor, "name")}} </router-link>
              <p></p>
            </div>
            <div class="messageRow">
              <div class="messageBody">
                <div class="messageContent">
                  <p>{{object.value.content}}</p>
                </div>
                <div class="messageTime">
                  <time-stamp type="message" :object="object"></time-stamp>
                </div>
              </div>
              <span class="controlButtons">
                <button @click="startEdit(object)">Edit</button>
                <button @click="deleteMessage(object)">Delete</button>
              </span>
            </div>
          </div>
        </div>

        <div v-else class="otherMessage">
          <!-- non-editing message -->
          <div class="messageContainer">
            <div class="sender">
              <router-link :to="`/profile/${object.actor}`"> {{getProfileFromId(object.actor, "name")}} </router-link>
              <p></p>
            </div>
            <div class="messageRow">
              <div class="messageBody">
                <div class="messageContent">
                  <p>{{object.value.content}}</p>
                </div>
                <div class="messageTime">
                  <time-stamp type="message" :object="object"></time-stamp>
                </div>
              </div>
              <span class="controlButtons">
                <!-- <button></button> -->
              </span>
            </div>
          </div>
        </div>
      </div>

      <!-- EVENT -->
      <div v-else>
        <div class="ownMessage" v-if="object.actor===$graffitiSession.value.actor">
          <!-- {{object.value}} -->
          <!-- YOUR MESSAGE -->
          <div class="messageContainer">
            <div class="sender">
              <router-link :to="`/profile/${object.actor}`"> {{getProfileFromId(object.actor, "name")}} </router-link>
              <p></p>
            </div>
            <div class="messageRow">
              <div class="messageBody">
                <div class="messageContent">
                  <h3>{{object.value.object.name}}</h3>
                  <p>{{getTime(object.value.object.start)}} - {{getTime(object.value.object.end)}}</p>
                  <p>{{object.value.object.description}}</p>
                  <span class="rsvpSection" :id="'rsvp-'+i">
                    <button @click.stop="openRsvpPanel(i)" class="rsvpButton">RSVP</button>
                    <div class="rsvpSelection">
                      <p @click="rsvp('Yes', object.url)">Yes</p>
                      <p @click="rsvp('No', object.url)">No</p>
                      <p @click="rsvp('Maybe', object.url)">Maybe</p>
                    </div>
                  </span>
                </div>
                <div class="messageTime">
                  <time-stamp type="message" :object="object"></time-stamp>
                </div>
              </div>
              <span class="controlButtons">
                <button @click="startEdit(object)">Edit</button>
                <button @click="deleteMessage(object)">Delete</button>
              </span>
            </div>
          </div>
        </div>

        <!-- SOMEONE ELSES MESSAGE -->
        <div v-else class="otherMessage">
          <div class="messageContainer">
            <div class="sender">
              <router-link :to="`/profile/${object.actor}`"> {{getProfileFromId(object.actor, "name")}} </router-link>
              <p></p>
            </div>
            <div class="messageBody">
              <div class="messageContent">
                <h3>{{object.value.object.name}}</h3>
                <p>{{getTime(object.value.object.start)}} - {{getTime(object.value.object.end)}}</p>
                <p>{{object.value.object.description}}</p>
                <span class="rsvpSection" :id="'rsvp-'+i">
                  <button @click.stop="openRsvpPanel(i)" class="rsvpButton">RSVP</button>
                  <div class="rsvpSelection">
                    <p @click="rsvp('Yes', object.url)">Yes</p>
                    <p @click="rsvp('No', object.url)">No</p>
                    <p @click="rsvp('Maybe', object.url)">Maybe</p>
                  </div>
                </span>
              </div>
              <div class="messageTime">
                <time-stamp type="message" :object="object"></time-stamp>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</graffiti-discover>
<button id="scrollButton" @click="scroll()">You're viewing older messages. Jump to present?</button>
