footer form {
  width: 95%;
}
footer fieldset {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: none;
}
#messageBar {
  flex-grow: 1;
  height: 2lh;
  border-radius: 50px;
  border: none;
  margin-right: 2em;
  padding-left: 1.5em;
}

#messageFrame {
  /* background-color: red; */
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 4lh;
}
.messageBody {
  background-color: #b8b9ee;
  border-radius: 15px;
  border: none;
  flex-grow: 1;
}

.eventBody {
  background-color: hsl(210, 50%, 78%);
}

.messageContainer {
  display: flex;
  flex-direction: column;
  width: fit-content;
  word-wrap: break-word;
  min-width: 10em;
  max-width: min(60ch, 60%);
  justify-content: space-between;
  /* background-color: white; */
  margin-bottom: 0.5lh;
}

.sender {
  /* z-index: 1; */
  margin-bottom: -5px;
  margin-inline-start: 2px;
  /* background-color: red; */
  line-height: 0.5em;
}
.messageContainer .messageContent {
  padding-left: 1em;
  padding-right: 1em;
}

.messageTime {
  z-index: 100;
  text-align: end;
  padding-right: 1.2em;
  padding-bottom: 0.2em;
  font-size: 0.8em;
  /* margin-top: 0px; */
  color: hsl(160, 10%, 35%);
}

.messageTime p,
.messageContent p {
  margin-top: 0.5lh;
  margin-bottom: 0.5lh;
}

.ownMessage .messageRow {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5em;
}
.otherMessage .messageRow {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.messageContainer .controlButtons {
  flex-basis: 0;
  margin-bottom: 0lh;
  min-width: 8ch;
  opacity: 0;
  pointer-events: none;
  flex-direction: column;
  justify-content: space-evenly;
}

.messageContainer:hover .controlButtons,
.editingMessage .controlButtons {
  /* max-width: none; */
  /* max-height: none; */
  opacity: 1;
  pointer-events: all;
}

.ownMessage {
  display: flex;
  justify-content: flex-end;
  /* align-self: f/lex-end; */
}

.ownMessage .sender {
  text-align: end;
  margin-inline-end: 2px;
  z-index: 100;
}
.ownMessage .controlButtons {
  display: flex;
  /* justify-content: flex-end; */
}

.messageContainer a {
  color: inherit;
  text-decoration: none;
}

.controlButtons button {
  box-shadow: 0.5px 0.5px 2px black;
  padding: 5px;
  border-radius: 3px;
  border: none;
  background-color: #f5f5f5;
}
.controlButtons button:hover {
  background-color: #eaeaea;
}
.controlButtons button:active {
  box-shadow: 0.5px 0.5px 1px black;
  padding: 5px;
  border-radius: 3px;
  border: none;
  background-color: #e4e4e4;
}

.rsvpButton {
  background-color: #f5f5f5;
  border: none;
  line-height: 1.3lh;
  border-radius: 5px;
  box-shadow: 1px 1px 1.5px gray;
  cursor: pointer;
}
.rsvpButton:hover {
  background-color: #eaeaea;
}
.rsvpButton:active {
  box-shadow: 1px 1px 0px gray;
  background-color: #e0e0e0;
}

#sendButton {
  border: none;
  border-radius: 24px;
  width: 8ch;
  box-shadow: 0.5px 0.5px 2px black;
}
#sendButton:active {
  border: none;
  border-radius: 24px;
  width: 8ch;
  box-shadow: 0.5px 0.5px 0.5px black;
  background-color: #e8e8e8;
}
.rsvpSelection {
  z-index: 150;
  display: none;
  position: absolute;
  left: 0.5em;
  text-align: center;
  background-color: #d8d8d8;
  box-shadow: 1px 1px 3px gray;
}
.rsvpSelection p {
  padding: 0.5em;
  line-height: 1.25lh;
  margin: 0;
}
.rsvpSelection p:hover {
  cursor: pointer;
  background-color: #c8c8c8;
}

.rsvpSection {
  position: relative;
}

.rsvping .rsvpSelection {
  display: block;
}
