#backgroundCover {
  z-index: 0;
  display: content;
  position: fixed;
  /* height: 0px; */
  opacity: 0;
  top: 0%;
  left: 0%;
  transition: opacity 200ms ease, z-index 500ms;
  background-color: rgba(0, 0, 0, 0.5);
  width: 1000vw;
  height: 1000vh;
  pointer-events: none;
}

.creating #backgroundCover {
  z-index: 100000000000;
  pointer-events: all;
  opacity: 1;
}
#newGroupFrame {
  pointer-events: none;
  /* transform: scale(0); */
  opacity: 0;
  transition: opacity 200ms;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 70vh;
  max-width: 700px;
  background-color: #bbbbbb;
  position: fixed;
  top: 50%;
  left: 50%;
  box-shadow: 1px 1px 10px black;
  padding: 1em;
}
.creating #newGroupFrame {
  opacity: 1;
  pointer-events: all;
  /* transition: opacity 500ms; */
}

#newGroupFrame #groupName {
  height: 1.5lh;
  font-size: 1.5em;
  background-color: inherit;
  border: none;
  border-bottom: 2px solid black;
}

.closeButton {
  margin-left: 95%;
}

.createButton {
  z-index: 1000;
  border-width: 0px;
  border-radius: 50%;
  background-image: url("../assets/plus.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75% 75%;
  background-color: hsla(239, 80%, 70%, 0.8);
  height: 80px;
  width: 80px;
  max-width: 20vw;
  max-height: 20vw;
  box-shadow: 1px 1px 7px black;
  position: fixed;
  bottom: 7lh;
  right: 1em;
  float: right;
  padding: 5px;
}

.createButton:hover {
  cursor: pointer;
  background-color: hsla(239, 80%, 70%, 1);
}

.createButton:active {
  background-color: hsla(239, 100%, 70%, 1);
  box-shadow: 1px 1px 7px gray;
}
