header span {
  display: flex;
  align-items: center;
}

#logout {
  justify-self: flex-end;
}

.groupCard {
  width: 90%;
  max-width: 100ch;
  height: 10em;
  background-color: #aaaaaa;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-bottom: 1lh;
  border-radius: 1em;
  display: flex;
  flex-direction: row;
  box-shadow: 1px 1px 5px black;

  color: inherit;
  text-decoration: inherit;
}

.groupCard:hover {
  background-color: #bbbbbb;
  cursor: pointer;
}
.groupCard * {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.groupIcon {
  flex-grow: 0.1;
}
.mainGroupSection {
  flex-grow: 0.8;
}
.mainGroupSection {
  justify-content: flex-start;
}
.groupMetaInfo {
  flex-grow: 0.1;
  text-align: center;
}

#groupContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer div {
  flex-grow: 1;
  text-align: center;
}

main {
  /* margin-bottom: 5lh; */
  padding-bottom: 5lh;
}
