* {
  font-family: Helvetica Neue, Segoe UI, sans-serif;
}
body {
  background-color: #d8d8d8;
  margin: 0;
}

#app {
  min-height: 100vh;
}

button,
input {
  margin: 3px;
}

/* input[type="text"] {
  width: 300px;
} */

:checked + input[type="text"] {
  color: gray;
  font-style: italic;
  text-decoration: line-through;
}

fieldset {
  display: contents;
}

.icon {
  max-width: 2em;
  max-height: 2em;
  padding: 0.5em;
}

main {
  margin: 1em;
}

.createButton {
  border-width: 0px;
  border-radius: 50%;
  background-image: url("../assets/plus.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75% 75%;
  background-color: rgba(0, 0, 255, 0.8);
  height: 100px;
  width: 100px;
  max-width: 20vw;
  max-height: 20vw;
  box-shadow: 1px 1px 5px black;
  position: fixed;
  bottom: 7lh;
  right: 0px;
  float: right;
  padding: 5px;
}

.createButton:hover {
  cursor: pointer;
  background-color: rgba(25, 25, 255, 1);
}
footer {
  display: flex;
  background-color: #b8b9ee;
  height: 5lh;
  position: fixed;
  bottom: 0px;
  width: 100vw;
  align-items: center;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: #b8b9ee;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding-left: 4px;
  padding-right: 4px;
}
